html  
  head
    title="Isomorphic React App"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
   
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,500', type='text/css')
    link(rel='stylesheet', href='/public/font-awesome/css/font-awesome.min.css')  
    link(rel='stylesheet', href='http://localhost:8000/assets/style.css')
      
  body
    #react-app!=html
 
  script(src='http://localhost:8000/assets/app.js')